<% blazer_title "Edit - #{@smart_variable.key}" %>

<%= render partial: "blazer/shared/static_topbar", locals: { title: "Edit : #{@smart_variable.key}", secondary: { show: false } } %>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <%= render "form" %>
        </div>
    </div>
</div>