<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <%= link_to "Retour", smart_variables_path, class: "btn btn-secondary" %>
            </div>
            <%= render "form" %>
        </div>
    </div>
</div>